*{
    background-color: rgb(243, 243, 239);
    padding: 0px;
    margin: 0px ;
    box-sizing: border-box;
    /* color: rgb(85,85,85); */
    color: black;
    overflow-x: hidden;
}
.logo h2{
    color:#EFB100;
    margin-top: 30px;
    margin-left: 50px;
}
.signuptitle h1{
    text-align: center;
}
.signuptitle span{
    color: #EFB100;
}
.signupinputpart{
    display: flex;
    justify-content: center;
    align-items: center;
}
.input-control input:focus{
    outline: 0;
}
.input-control.success input{
    border: 2px solid#09c372;
}
.input-control.error input{
    border: 2px solid#ff3860;
}
.input-control .error{
    color: #ff3860;
    font-size: 16px;
    margin-bottom: 20px;
    /* height: 15px; */
} 

#input1{
    width: 350px;
    margin-right:20px ;
}
#input2{
    width: 350px;
}
#password , #password2{
    color: black;
}
.signupinputs input {
    background-color: rgb(243, 243, 239);
    border: none;
    border: 1px solid#EFB100;
    width: 480px;
    height: 50px;
    border-radius: 20px;
    margin-bottom: 20px;
    /* margin-left: 50px; */
    padding-left: 20px;
    color: black;
    
}
.signupbtn{
    background-color: #EFB100;
    border: none;
    border-radius: 20px;
    padding: 10px 20px;
    margin: auto;
    margin-left: 50px;
    margin-right: 50px;
}
.lowerpartsignup{
    display: flex;
    align-content: center;
    margin-left: 50px;
    margin-bottom: 20px;
}
.signupp{
    display: flex;
    justify-content: center;
    align-content: center;
    margin-bottom: 30px;
}
.log{
    color: #EFB100;
}
.signuptitle{
    margin-bottom: 30px ;
}
.lowerpartsignup{
    margin-top: 20px;
    gap: 0.3rem;
}
a{
    text-decoration: none;
    cursor: pointer;
}
.lowerpartsignup a:hover {
    color: red; 
}


@media only screen and (max-width: 750px){
    .signupinputpart{
        display: flex;
        justify-content: center;
        align-items: center;
    }
    #input1{
        width: 480px;
        margin-right:20px ;
    }
    #input2{
        width: 480px;
    }
    .signupinputs input{
        margin-left: 50px;
    }
}
@media only screen and (max-width: 430px){
    .signupinputs input{
        width: 200px;
        height: 30px;
    }
    #input1{
        width: 200px;
        margin-right:20px ;
    }
    #input2{
        width: 200px;
    }
    .signuptitle h1{
        font-size: 20px;
    }

}